@import url('https://fonts.googleapis.com/css?family=Oswald|Ubuntu');
body
{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}
nav
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .5s;
}
nav.black
{
	height: 80px;
	padding: 10px 50px;
}
nav .logo
{
	float: left;
}
nav .logo img
{
	height: 120px;
	transition: .5s;
}
nav.black .logo img
{
	height: 90px;
}
nav ul
{
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li
{
	list-style: none;
}
nav ul li a
{
	line-height: 80px;
	color: #262626;
	padding: 5px 20px;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
}
nav.black ul li a
{
	color: #fff;

}
nav ul li a.active,
nav ul li a:hover
{
	color: #fff;
	background: #d2d5db;
}
section.sec1
{
	width: 100%;
	height: 90vh;
	background: url(bg.png);
	background-size: auto;
}
section.content
{
	width: 100%;
	padding: 20px;
	background-color: white;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
}
