@import url('https://fonts.googleapis.com/css?family=Oswald|Ubuntu');
body
{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}
nav
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .5s;
}
nav.black
{
	height: 80px;
	padding: 10px 50px;
}
nav .logo
{
	float: left;
}
nav .logo img
{
	height: 200px;
	transition: .5s;
}
nav.black .logo img
{
	height: 130px;
}
nav ul
{
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li
{
	list-style: none;
}
nav ul li a
{
	line-height: 80px;
	color: #626263;
	padding: 5px 20px;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
}
nav.black ul li a
{
	color: #fff;

}
nav ul li a.active,
nav ul li a:hover
{
	color: #fff;
	background: #d2d5db;
}
section.sec1
{
	width: 100%;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	background: url(bg.png);
	background-size: cover;
}
section.content
{
	width: 100%;
	background-color: white;
}
.column1
{
    float: left;
		padding: 20px;
		font-family: 'Ubuntu', sans-serif;
		text-decoration: underline;
}
.column2
{
    float: right;
		padding: 20px;
		font-family: 'Ubuntu', sans-serif;
		text-decoration: underline;
}
.textbox
{
	position: relative;
	left: 50%;
	top: 50%;
	width: 900px;
	padding: 20px;
	margin-left: -450px;
	margin-top: auto;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	background-color: white;
}
.buycolumnl
{
	float: left;
		width: auto;
		height: auto;
		padding: 5px 20px;
}
.buycolumnr
{
	float: right;
		width: auto;
		height: auto;
		padding: 5px 20px;
}
.buybutton
{
border-style: solid;
border-color: black;
color: #000000;
background: #88ff82;
border-radius: #000000;
width: auto;
height: auto;
padding: 5px 20px;
font-family: 'Oswald', sans-serif;
text-decoration: none;
text-transform: uppercase;
text-align: center;
}
